@mixin background-gradient($deg, $color1, $color2) {
    background-color: $color1; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient($deg, $color1, $color2); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient($deg, $color1, $color2); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient($deg, $color1, $color2); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient($deg, $color1, $color2); /* Standard syntax; must be last */
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time, $style) {
    -webkit-transition: $animations $time $style;
    -moz-transition: $animations $time $style;
    -o-transition: $animations $time $style;
    transition: $animations $time $style;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    @include background-gradient(24deg, rgb(56,56,56), rgb(84,36,112));
}

* {
    @include transition(all, 1.0s, ease-in-out);
}

.transparent {
    background-color: transparent;
}

#main {
    @extend .transparent;
    color: rgba(160,160,160,1);
    font-size: 38px;
    width: 100%;
    height: 90%;
}

#source {
    float: right;
    padding: 1%;
}

i:hover, div:hover {
    color: rgba(240, 240, 240, 1);
}

#name {
    padding: 10%;
    padding-bottom: 1%;
    font-size: 42px;
}

#title {
    font-size: 28px;
    padding-left: 12%;
    &:hover {
        img {
            opacity: 1.0;
        }
    }
}

#school {
    padding-top: 1%;
    padding-left: 20%;
    font-size: 22px;
}

#company {
    height: 32px;
}

#linkbox {
    padding-top: 10%;
    padding-left: 30%;
}

.icon {
    padding: 3%;
    color: rgba(170,170,170,1);
}
