= wrap_layout :base do
    %link{:href=>'/stylesheets/page.css', :rel=>'stylesheet'}
    %body#main
        %h3#postHeading
            = current_page.data.title
        #container
            =yield
