---
title: Adam Walsh
---
%link{:href=>"stylesheets/landing.css", :rel=>'stylesheet'}
%body
    #main
        #name
            Adam Walsh
        #title
            Software Engineer
        #linkbox
            %a#github{:href=>"https://github.com/walshie4"}
                %i.fa.fa-1x.fa-github-alt
            %a#linkedin{:href=>"https://www.linkedin.com/pub/adam-walsh/36/3a1/b8a/"}
                %i.fa.fa-linkedin.fa-1x
