---
title: Adam Walsh
---
%link{:href=>"stylesheets/landing.css", :rel=>'stylesheet'}
%body
    #main
        #name
            Adam Walsh
        #title
            Software Engineer @
            %a{:href=>"//antumbra.io/"}
                %img#company{:src=>"//s3.amazonaws.com/antumbra-io/logotype_trimmed.png"}
        #school
            Rochester Institute of Technology
        #linkbox
            %a.icon{:href=>"//github.com/walshie4"}
                %i.fa.fa-1x.fa-github-alt
            %a.icon{:href=>"//www.linkedin.com/pub/adam-walsh/36/3a1/b8a/"}
                %i.fa.fa-linkedin.fa-1x
            %a.icon{:href=>"//careers.stackoverflow.com/adamwalsh"}
                %i.fa.fa-stack-overflow.fa-1x
            %a.icon{:href=>"Resume.pdf"}
                %i.fa.fa-1x.fa-file-text
            %a.icon{:href=>"https://angel.co/adamwalsh"}
                %i.fa.fa-1x.fa-angellist
